*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --background-color-of-navbar:#333;
    --color:#fff;
}
body{
    background-image: url("https://source.unsplash.com/random/100*100");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    background-color: rgba(0,0,0,0.1);
    color: var(--color);
    padding: 17px;
    display: flex;
    justify-content: space-between;
}
.navbar #logo{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.navbar:hover{
    backdrop-filter: blur(10px);
}

.hamburger-menu{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .line{
    height: 3px;
    width: 30px;
    background-color: var(--color);
    margin: 5px 0px;
}

.menu-items{
    list-style: none;
    display: flex;
}

.menu-items li{
    margin-right: 25px;
}

.menu-items a{
    text-decoration: none;
    color: var(--color);
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    float: right;
}


@media(max-width:770px){
    .hamburger-menu{
        display: flex;
    }
    .menu-items{
        display: none;
        flex-direction:column;
        position: absolute;
        top: 72px;
        left: 0px;
        width: 100%;
        background-color: var(--background-color-of-navbar);
        padding: 12px;
        z-index: 1;
    }
    .menu-items li{
        margin: 10px 0px;
    }
}

